.sidebar {
  margin-top: 20px;
  margin-left: 75.3px;
}

.sidebar h1 {
  font-size: 24px;
}

.sidebar h3 {
  font-size: 20px;
}


.item3 {
  margin-top: 44.3px;
  grid-area: item3;
}

.item3 h1 {
  text-align: center;
  font-size: 90px;
}

.content {
  margin-top: 57px;
  margin-right: 77px;
  margin-left: 20px;
  grid-area: content;
}

.dropdown {
  margin-top: 20px;
}

.content h1 {
  font-size: 40px;
}

.content h2 {
  font-size: 20px;
}


.grid-container {
    margin: 10px 75px;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-areas: 
    "item3 item3 content";
  }


  ul {
    padding: 0;
  }

  li {
    list-style: none;
  }

